*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.container input{
    padding: 10px;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px 0 0 5px;
}
button{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;

}
li{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 23px;
    color: grey;
    font-weight: bold;
}
.primary{
    background-color: red;
}